body,
html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.box-wrapper {
	height: 90vh;
	width: 100%;
	margin: 10px;
}
#total {
	padding: 10px;
	height: 100%;
}

#code {
	float: left;
	resize: none;
	border :none;
	outline: none;
	background-color: rgb(245, 241, 241);
	padding:10px; 
	height: 100%;
}

.input-output {
	float: left;
	width: auto;
	height: 100%;
	background-color: none;
	padding-top: 0px;
	overflow-x: hidden;
	overflow: auto;
	padding: 10px;
}

#inputField {
	resize: none;
	float: left;
	height: 40%;
	width: 100%;
	margin-bottom: 10px;
}
#outputField {
	resize: none;
	float: left;
	height: 58%;
	width: 100%;
	outline : none ; 
}
